<div class="card">
  @if (linkType !== linkTypes.None) {
    <a [target]="(linkType === linkTypes.ExternalLink) ? '_blank' : '_self'" [attr.rel]="(linkType === linkTypes.ExternalLink) ? 'noopener noreferrer' : null" [routerLink]="['/collections/', object.id]" class="card-img-top" [attr.title]="'search.results.view-result' | translate">
      <ds-thumbnail [thumbnail]="(object.logo | async)?.payload" [limitWidth]="false">
      </ds-thumbnail>
    </a>
  }
  @if (linkType === linkTypes.None) {
    <span class="card-img-top">
      <ds-thumbnail [thumbnail]="(object.logo | async)?.payload" [limitWidth]="false">
      </ds-thumbnail>
    </span>
  }
  <div class="card-body">
    <a class="card-title h4 text-primary" [routerLink]="['/collections/', object.id]">{{ dsoNameService.getName(object) }}</a>
    @if (object.shortDescription) {
      <p class="card-text">{{object.shortDescription}}</p>
    }
    <!-- @if (linkType !== linkTypes.None) {
      <div class="text-center">
        <a [target]="(linkType === linkTypes.ExternalLink) ? '_blank' : '_self'" [attr.rel]="(linkType === linkTypes.ExternalLink) ? 'noopener noreferrer' : null" [routerLink]="['/collections/', object.id]" class="lead btn btn-primary viewButton">{{ 'search.results.view-result' | translate}}</a>
      </div>
    } -->
    <div class="bottem-count-text mt-3 w-100">
      <ul>
        <li class="icon-text  border-end" title="{{'home.label.itemcount' | translate}}">
          <i class="fa fa-file mr-3" aria-hidden="true"></i>
          <span>{{object?.itemCount}}</span>
        </li>
        <li class="icon-text  " title="{{'home.label.viewcount' | translate}}">
          <i class="fa fa-eye mr-3" aria-hidden="true"></i>
          <span>{{object?.viewCount}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
