<h3>{{ 'info.privacy.head' | translate }}</h3>
<p><em>Last updated May 4, 2023</em></p>
<!-- 
<h2>Introduction</h2>
<p>{{ 'repository.title' | translate }} ("Company" or "We") respects your privacy and is committed to protecting it through our compliance with this policy.</p>
<p>This policy describes the types of information we may collect from you or that you may provide when you visit this website (our "Website") and our practices for collecting, using, maintaining, protecting, and disclosing that information.</p>
<p>This policy applies to information we collect:</p>
<ul>
  <li>On this Website.</li>
  <li>In email, text, and other electronic messages between you and this Website.</li>
</ul>
<p>It does not apply to information collected by:</p>
<ul>
  <li>us offline or through any other means, including on any other website operated by Company or any third party; or</li>
  <li>any third party, including through any application or content (including advertising) that may link to or be accessible from or on the Website.</li>
</ul>
<p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time. Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.</p>

<h2>Children under the age of 13</h2>
<p>Our Website is not intended for children under 13 years of age. No one under age 13 may provide any personal information to or on the Website. We do not knowingly collect personal information from children under 13. If you are under 13, do not use or provide any information on this Website or provide any information about yourself to us, including your name, address, telephone number, email address, or any screen name or username you may use. If we learn we have collected or received personal information from a child under 13 without verification of parental consent, we will delete that information.</p>

<h2>Information we collect about you and how we collect it</h2>
<p>We collect several types of information from and about users of our Website, including information:</p>
<ul>
  <li>by which you may be personally identified, such as name, email address, telephone number, or any other identifier by which you may be contacted online or offline ("personal information"); and/or</li>
  <li>about your internet connection, the equipment you use to access our Website and usage details.</li>
</ul>
<p>We collect this information:</p>
<ul>
  <li>directly from you when you provide it to us.</li>
  <li>automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons, and other tracking technologies; and/or</li>
  <li>from third parties, for example, our business partners.</li>
</ul>

<h2>Information you provide to us</h2>
<p>The information we collect on or through our Website may include:</p>
<ul>
  <li>Information that you provide by filling in forms on our Website. We may also ask you for information when you report a problem with our Website.</li>
  <li>Records and copies of your correspondence (including email addresses), if you contact us.</li>
  <li>Your responses to surveys that we might ask you to complete for research purpose.</li>
</ul>

<h2>Information we collect through automatic data collection technologies</h2>
<p>As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:</p>
<ul>
  <li>Details of your visits to our Website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website.</li>
  <li>Information about your computer and internet connection, including your IP address, operating system, and browser type.</li>
</ul>
<p>The information we collect automatically is statistical data and does not include personal information, but we may maintain it or associate it with personal information we collect in other ways or receive from third parties. It helps us to improve our Website and to deliver a better and more personalized service, including by enabling us to:</p>
<ul>
  <li>Estimate our audience size and usage patterns.</li>
  <li>Store information about your preferences, allowing us to customize our Website according to your individual interests.</li>
  <li>Speed up your searches.</li>
  <li>Recognize you when you return to our Website.</li>
</ul>
<p>The technologies we use for this automatic data collection may include:</p>
<ul>
  <li>Cookies (or browser cookies). A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to our Website.</li>
</ul>

<h2>How we use your information</h2>
<p>We use information that we collect about you or that you provide to us, including any personal information:</p>
<ul>
  <li>To present our Website and its contents to you.</li>
  <li>To provide you with information, products, or services that you request from us.</li>
  <li>To fulfill any other purpose for which you provide it.</li>
  <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.</li>
  <li>To notify you about changes to our Website or any products or services we offer or provide through it.</li>
  <li>In any other way we may describe when you provide the information.</li>
  <li>For any other purpose with your consent.</li>
</ul>

<h2>Disclosure of your information</h2>
<p>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.</p>
<p>We may disclose personal information that we collect or you provide as described in this privacy policy:</p>
<ul>
  <li>To contractors, service providers, and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.</li>
  <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Company's assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by Company about our Website users is among the assets transferred.</li>
  <li>To fulfill the purpose for which you provide it.</li>
  <li>For any other purpose disclosed by us when you provide the information.</li>
  <li>With your consent.</li>
</ul>
<p>We may also disclose your personal information:</p>
<ul>
  <li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</li>
  <li>To enforce or apply our <a class="link-contrast" [routerLink]="['/info/end-user-agreement']" target="_blank" rel="noopener noreferrer">End User Agreement</a> and other agreements, including for billing and collection purposes.</li>
  <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of the Company, our customers, or others.</li>
</ul>

<h2>Changes to our privacy policy</h2>
<p>It is our policy to post any changes we make to our privacy policy on this page. The date the privacy policy was last revised is identified at the top of the page. You are responsible for periodically visiting our Website and this privacy policy to check for any changes.</p> -->

  <section class="u-clearfix u-section-3" id="block-2">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <p class="u-align-left u-text u-text-1">Feedback from our users is welcome. If you come across a possible error or
        incomplete information or want to contribute to the OBPS repository, please use our Feedback or Help Desk <a
          href="https://www.oceanbestpractices.org/ocean-best-practices-systems/about-us/contact-us/"
          class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-12 u-btn-1"
          target="_blank">link </a>
        <br>
        <br><span style="font-weight: 700;">1</span>.<span style="font-weight: 700;">&nbsp; Introduction <br>2.&nbsp;
          Citation of OBPS Repository <br> 3.&nbsp; Disclaimer <br>4.&nbsp; Content Scope <br>&nbsp;&nbsp;&nbsp;&nbsp;
          4.1&nbsp; Subject Criteria <br>&nbsp;&nbsp;&nbsp;&nbsp; 4.2&nbsp; Practice Method Criteria <br> 5. &nbsp;
          Language <br>6.&nbsp;&nbsp; Depositors <br> &nbsp;&nbsp; &nbsp;&nbsp; 6.1&nbsp; Document Types
          <br>7.&nbsp;&nbsp; Full text <br> &nbsp;&nbsp; &nbsp;&nbsp; 7.1&nbsp;&nbsp; Full text file formats
          <br>8.&nbsp;&nbsp; Copyright <br>9. &nbsp; Metadata standards <br>10. Metadata policy <br>11. Preservation
          <br>____________________________________<br></span>
      </p>
    </div>
  </section>
  <section class="u-clearfix u-section-4" id="block-4">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-text u-text-default u-text-1"><span style="font-weight: 700; font-size: 1.27778rem;">1</span>.&nbsp;
        <span style="font-weight: 700; font-size: 1.27778rem;">Introduction </span>
        <br>The Ocean Best Practices System (OBPS) is hosted by the International Oceanographic Data and Information
        Exchange (IODE) of the UNESCO-IOC as an IOC coordinated activity (IODE and the Global Ocean Observing System
        (GOOS) .
        The repository is a Methodological Management System provided for the ocean community to share their practices,
        standards, protocols, methods, standard operating procedures etc.
        The OBPS Repository is not an archive for general publications on marine and aquatic sciences - for those,
        please deposit into the complementary <a href="https://aquadocs.org"
          class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-12 u-btn-1"
          target="_blank">AquaDocs.</a>
      </p>
      <p class="u-text u-text-default u-text-2"><span style="font-size: 1.27778rem; font-weight: 700;">2. Citation of
          OBPS Repository</span>
        <br> To cite the OBPS repository, the citation is as follows:<br> Ocean Best Practices System (OBPS). [Website].
        Available: https://www.oceanbestpractices.org/ (Accessed date.)<br> For citing individual records in the OBPS
        Repository, please use the citation for the document as provided in the OBPS record display.
      </p>
      <p class="u-text u-text-default u-text-3"><span style="font-weight: 700; font-size: 1.27778rem;">3.</span>&nbsp;
        <span style="font-weight: 700; font-size: 1.27778rem;">Disclaimer </span>
        <br> By consulting, depositing and/or downloading data from the OBPS Repository, the user understands the
        following:
        Inclusion of a methodology in the OBPS does not indicate that the methodology is recommended by OBPS. OBPS
        annotates records as an Endorsed Practice https://doi.org/10.25607/OBP-1983
        The information, data, statements, geographical boundaries, maps and declarations expressed in documents and
        objects in the OBPS repository do not imply the official endorsement or acceptance by UNESCO/IOC.
        UNESCO/IOC does not warrant that the information, documents and materials contained in the OBPS repository and
        OBPS website is complete and correct and shall not be liable whatsoever for any damages incurred as a result of
        its use. Contributors to this repository are solely responsible for the contents of their uploaded documents.
        Mention of a commercial company or product within this repository content does not constitute an endorsement by
        UNESCO/IOC Use of information from this repository for publicity or advertising purposes concerning proprietary
        products or the tests of such products is not authorized.
      </p>
    </div>
  </section>
  <section class="u-clearfix u-section-5" id="block-6">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-text u-text-1"><span style="font-weight: 700; font-size: 1.27778rem;">4. Content Scope </span>
        <br> The Ocean Best Practices System (OBPS) Repository is a global, open access resource. It accepts
        methodological standards and practices related to ocean sciences and services. These practices and standards may
        be at various stages of maturity. The goal of OBPS is to support users in creating and sharing methods with the
        ocean community. It makes available for sharing both globally recognised methods and also lesser known
        practices, some tailored for application in local environments and resource-limited conditions. <br>
        <br>Submissions of "methodological documentation" to the OBPS Repository should comply with the repository
        subject and method criteria (Sections 4.1 and 4.2) described below. They are accepted in many publication
        formats, including reports, journal articles, training videos, software, code and more. They can be described as
        guides, guidelines, manuals, standard operating procedures (SOP), technical specifications, standards, etc.
        Submissions from commercial organisations may be included in the OBPS Repository, provided they comply with the
        criteria listed in this document and the Repository Disclaimer is included in the metadata. <br>
        <br>Prior to inclusion in the OBPS Repository, each submission will be reviewed by the OBPS Repository Manager,
        and if necessary in consultation with experts in the respective fields. OBPS has the responsibility to accept or
        reject any submission for suitability against the subject and practices (method) criteria established below
        which will be applied on a case-by-case assessment.&nbsp;<br>
      </p>
      <p class="u-text u-text-2"><span style="font-size: 1.11111rem; font-weight: 700;">4.1 Subject Criteria </span>
        <br> The OBPS Repository accepts methodological documentation from marine and ocean-related disciplines, data
        and information and ocean applications. It generally does not include those related to maritime law enforcement
        and commercial shipping or navigation documentation. <br>
        <br>The OBPS has a global geographic and habitat scope, extending from the deep waters to the surface of the
        open ocean, to coastal, estuarine, brackish, and freshwater environments and includes the air-sea interface and
        atmospheric processes relevant to air-sea interactions. <br>
        <br>The submission must be relevant to at least one of the Intergovernmental Oceanographic Commission (IOC)
        Mission, and/or IOC High Level Objectives, and be consistent with United Nations principles and guidelines, for
        example, the UN Convention of the Law of the Sea and other Multilateral Environmental Agreements (MEAs).<br>
        <br>
      </p>
      <p class="u-text u-text-3"><span style="font-size: 1.11111rem; text-decoration: underline !important;">IOC Mission
        </span>
        <br>The purpose of the IOC is to promote international cooperation and to coordinate programmes in research,
        services and capacity-building, in order to learn more about the nature and resources of the ocean and coastal
        areas and to apply that knowledge for the improvement of management, sustainable development, the protection of
        the marine environment, and decision-making processes of its Member States (IOC Statutes, Article 2.1).
      </p>
      <p class="u-text u-text-4"><span style="text-decoration: underline !important;">IOC High Level Objectives </span>
        <br>The IOC is working to achieve its Vision through the following High-Level Objectives: <br>- Healthy ocean
        and sustained ocean ecosystem services; <br>- Effective warning systems and preparedness for tsunamis and other
        ocean-related hazards; <br>- Resilience to climate change and contribution to its mitigation;&nbsp;<br>-
        Scientifically-founded services for the sustainable ocean economy; <br>- Foresight on emerging ocean science
        issues
      </p>
    </div>
  </section>
  <section class="u-clearfix u-section-6" id="block-5">
    <div class="u-clearfix u-sheet u-sheet-1">
      <br>
      <br>
      <p class="u-text u-text-1"><span style="font-weight: 700; font-size: 1.11111rem;">4.2 Practice method
          Criteria</span>
        <br>
        <br> Submissions should be made on the understanding that the practice (methodological) documentation is a
        contribution to the methodological base of the ocean community.<br>
        <br>The focus of the submission should be a method/practice applied in ocean-related disciplines and
        applications. Practice documents in the repository also include standards, vocabularies, strategies,
        recommendations, advice, comparison of practices, relevant regulations, and training and educational
        materials.<br>
        <br> To be accepted in the OBPS Repository, the submission must meet the criteria listed in Table 1.<br>
      </p>
      <div class="u-clearfix u-custom-html u-expanded-width u-custom-html-1">
        <table style="width:100%; border-collapse: collapse;" border="1">
          <caption>
            <strong>Table 1. Criteria for Practice Documentation Submissions</strong>
          </caption>
          <thead>
            <tr>
              <th style="padding: 8px; text-align: left;">Criterion</th>
              <th style="padding: 8px; text-align: left;">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 8px;">Objective definition</td>
              <td style="padding: 8px;">Specifies a clear objective for a practice, or a comparison of practices,
                description of a practice implementation, or a description of guidelines for practices.</td>
            </tr>
            <tr>
              <td style="padding: 8px;">Clear process</td>
              <td style="padding: 8px;">Provides a clear process (series of actions, and/or recommendations, and/or
                strategies).</td>
            </tr>
            <tr>
              <td style="padding: 8px;">Limitations identification</td>
              <td style="padding: 8px;">Indicates any limitations or constraints in achieving the objective.</td>
            </tr>
            <tr>
              <td style="padding: 8px;">Specification of tools or techniques</td>
              <td style="padding: 8px;">Describes any required tools, equipment, reagents, supporting documents, or
                software needed for the practice.</td>
            </tr>
            <tr>
              <td style="padding: 8px;">Potential use</td>
              <td style="padding: 8px;">Describes why this practice is potentially useful for others.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="u-text u-text-2">The OBPS recognizes that repository users looking for practices and methods to adopt in
        their own settings, are interested in the maturity and quality of a method (maturity of a method is the measure
        of the level of development).
        The OBPS does not recommend methods but does record a method as ENDORSED <a
          href="https://doi.org/10.25607/OBP-1983"
          class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-12 u-btn-1"
          target="_blank">https://doi.org/10.25607/OBP-1983 </a>
      </p>
      <p class="u-text u-text-3">The OBPS offers document templates for supporting the creation of ocean practices, and
        the process itself is well described in Fig. 2 in <a href="https://doi.org/10.3389/fmars.2023.1173075"
          class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-12 u-btn-2"
          target="_blank">Przesławski, et al, 2023.</a> Importantly, the practice title and abstract and methods body
        text should describe its methods focus.
      </p>
    </div>
  </section>
  <section class="u-clearfix u-section-7" id="block-7">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-text u-text-default u-text-1"><span style="font-weight: 700; font-size: 1.27778rem;">5. Language
        </span>
        <br>Methods published in multiple languages that are compliant with the above scopings, are accepted into the
        repository provided that in the metadata submitted they have an English title and abstract (and preferably in
        the document itself)
      </p>
      <p class="u-text u-text-default u-text-2">6. Depositors</p>
      <ul class="u-text u-text-default u-text-3">
        <li>Items may only be deposited by users registered in the OBPS repository.</li>
        <li> The validity and authenticity of the full text content of submissions is the sole responsibility of the
          author/s. </li>
        <li>Authors or their agents will be responsible for ensuring the documents they archive do not have any
          restrictions on their electronic distribution. </li>
        <li>If the submission task is delegated to other persons (e.g. the librarian), then the institute must ensure
          they have the requisite authority. </li>
        <li>The OBPS Repository Editorial Team has the responsibility to reject deposits containing incomplete metadata
          or metadata only without a full text deposit upload. </li>
        <li>Duplication of documents in different open access repositories is permitted. </li>
      </ul>
      <p class="u-text u-text-default u-text-4"><span style="font-size: 1.27778rem; font-weight: 700;">6.1. Document
          types </span>
        <br> Methodologies can be published digitally as the following: document types: <br><span
          style="text-decoration: underline !important;">Book/Monograph</span>: A book or a conference volume or
        complete serial issue.<br><span style="text-decoration: underline !important;">Book Section:</span> A chapter or
        section in a book, monograph or conference volume. <br> J<span
          style="text-decoration: underline !important;">ournal Contribution</span>: A contribution to a journal
        <br><span style="text-decoration: underline !important;">Report</span>: This may be a technical report, project
        report, documentation, manual or guideline, working paper, discussion paper. <span
          style="text-decoration: underline !important;">Report Section</span>: A chapter or section in a report.
        <br><span style="text-decoration: underline !important;">Software:</span> Computer programs and applications.
        <br><span style="text-decoration: underline !important;">Video/Image</span> : A static image or recording of
        moving visual images made digitally. <br><span style="text-decoration: underline !important;">Web Based
          Content:</span> Usually a website/webpage. If a document is hosted on a website, use the appropriate document
        type for the
        item and include the website URL in the Resource URL metadata field. <br><span
          style="text-decoration: underline !important;">Other</span>: Something within the scope of the repository, but
        not covered by the other categories.<br>
        <br>At metadata input, selecting one of the above document types will present the depositor with the metadata
        fields to complete&nbsp; only for that document type; &nbsp; for example,&nbsp; journal contribution metadata is
        not displayed to input for a report deposit. COMPLETION OF ALL METADATA FIELDS is highly recommended to
        facilitate discovery of the method.
      </p>
    </div>
  </section>
  <section class="u-clearfix u-section-8" id="block-8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <p class="u-text u-text-default u-text-1"><span style="font-weight: 700; font-size: 1.27778rem;">7. Full text
        </span>
        <br>The purpose of the OBPS Repository is to make full-text methodological documents and other objects
        discoverable, accessible, and usable by any user with access to the Internet. Thus, the OBPS Repository adheres
        to the FAIR Principles (Findable, Accessible, Interoperable, Re-Usable) in its design. <br>
        <br>When inputting a record, the metadata must be accompanied with a full text file upload, otherwise it will
        not be accepted on submission. <br>
        <br>Searching and downloading full text documents in the OBPS repository is free for any individual user. Re-use
        of OBPS content is controlled by the display of Rights Permissions (eg Creative Commons License) including any
        other copyright restrictions. The downloaded content must not be changed in any way unless allowed by the
        Permission to Use license attached to the metadata.
        In compliance with Copyright Conventions, single copies of full text items may be downloaded for educational,
        scientific or research purposes or not-for-profit purposes without prior permission or charge ie Fair Use,
        provided the following are displayed:
      </p>
      <ul class="u-text u-text-default u-text-2">
        <li>The correct citation to authors, title and full bibliographic details </li>
        <li>The DOI and /or URL for the original metadata page</li>
        <li> The original copyright statement </li>
        <li>The original Rights permission statement </li>
      </ul>
      <p class="u-text u-text-default u-text-3"><span style="font-weight: 700;">7.1 Full Text file formats</span>
        <br> It is mandatory to upload a full text file when submitting a repository record. The following file formats
        will be supported and preserved using either format migration or emulation techniques:
      </p>
      <ul class="u-text u-text-default u-text-4">
        <li><span style="text-decoration: underline !important;">supported </span>(we fully support the format)&nbsp;
        </li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Adobe PDF/a (.pdf)&nbsp;</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; plain text (e.g. .txt) </li>
        <li><span style="text-decoration: underline !important;">known</span> (we can recognize the format, but cannot
          guarantee full support)
        </li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Microsoft Word (.doc, .docx) </li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Microsoft Powerpoint (.ppt, .pptx) </li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Microsoft Excel (.xls, .xlsx) </li>
        <li style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Open/Libre Office(.odt, .opp, .ods) </li>
      </ul>
      <p class="u-text u-text-default u-text-5">Non-Text: Image (jpeg, mpeg) and audio files (wav) can be uploaded but
        may not be supported for preservation purposes.</p>
      <p class="u-text u-text-default u-text-6">Deposit of other file formats should be discussed with the OBPS
        Repository Manager. </p>
    </div>
  </section>
  <section class="u-clearfix u-section-9" id="block-9">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-text u-text-default u-text-1">8. Copyright </p>
      <ul class="u-text u-text-default u-text-2">
        <li>Only items complying with copyright conditions or permission to use license (e.g. Creative Commons) should
          be deposited. </li>
        <li>Any copyright violations are entirely the responsibility of the authors.</li>
        <li> If the OBPS Repository receives proof of copyright violation, the relevant item will be removed
          immediately.</li>
        <li> Acceptable reasons for the repository to withdraw the record and full text include:
          Journal publishers' rules
          Proven copyright violation or plagiarism
          Legal requirements and proven violations
          National security
          Falsified research </li>
        <li>Withdrawn items are deleted entirely from the database and the creator notified. </li>
        <li> Metadata of the withdrawn item will not be searchable,
          If necessary, an updated acceptable version may be deposited. </li>
        <li>&nbsp;&nbsp;&nbsp; Journal publishers' rules</li>
        <li>&nbsp;&nbsp;&nbsp; Proven copyright violation or plagiarism</li>
        <li>&nbsp;&nbsp;&nbsp; Legal requirements and proven violations</li>
        <li>&nbsp;&nbsp;&nbsp; National security</li>
        <li>&nbsp;&nbsp;&nbsp; Falsified research</li>
        <li>Withdrawn items are deleted entirely from the database and the creator notified.&nbsp;&nbsp; Metadata of the
          withdrawn item&nbsp; will not be&nbsp; searchable,</li>
        <li> If necessary, an updated acceptable version may be deposited.</li>
      </ul>
      <p class="u-text u-text-default u-text-3"><span style="font-weight: 700; font-size: 1.27778rem;">9. Metadata
          standards</span>
        <br>The repository uses the well-established metadata standard Qualified Dublin Core and makes use of widely
        adopted controlled thesauri and other terminological resources.
      </p>
      <p class="u-text u-text-default u-text-4"><span style="font-weight: 700; font-size: 1.27778rem;">10. Metadata
          policy </span>
        <br>Third parties may collect metadata from the OBPS Repository via automated mechanisms and facilitate end-user
        services to support the dissemination and retrieval of the repository’s content. It is the policy of the OBPS to
        allow the harvesting of metadata, but to explicitly prohibit the automated harvesting of the full text content
        of the intellectual works in the OBPS repository.<br>
        <br>
      </p>
      <p class="u-text u-text-default u-text-5"><span style="font-weight: 700; font-size: 1.27778rem;">11. Preservation
        </span>
        <br>The Preservation policy for OBPS Repository documents:
      </p>
      <ul class="u-text u-text-default u-text-6">
        <li>All materials posted in the OBPS repository will be retrievable but it is strongly recommended authors use
          PDF/a. [PDF/a is an ISO-standardized version of the Portable Document Format specialized for use in the
          archiving and long-term preservation of electronic documents. PDF/a differs from PDF by prohibiting features
          unsuitable for long-term archiving, such as font linking and encryption.]</li>
        <li> OBPS repository will try to ensure continued accessibility.</li>
        <li> ‘Supported’ in Section 7.1, means that the OBPS repository will make the file usable in the future,
          applying whatever combination of techniques (such as migration, emulation, etc.) as is appropriate, given the
          context of need. Not all proprietary formats can be supported. These files will still be preserved. It is
          likely that for extremely popular but proprietary formats (such as Microsoft .docx, .xls and .ppt), OBPS
          repository will be able to help make files in those formats viewable in the future. Items will be retained
          indefinitely.</li>
        <li> OBPS repository regularly backs up its files according to current best practice. </li>
        <li>Items may be removed as in Section 8 above; for any other reason this is strongly discouraged. </li>
        <li>In the event that the OBPS repository is closed down, the database will be transferred to another
          appropriate archive. </li>
      </ul>
    </div>
  </section> 